 <div class="mt-8" id="cusdis"
      data-host="https://cusdis.com"
      data-app-id="ee88638d-1d22-4b2d-a228-e03dca99070d"
      data-page-id="{{ page.fileSlug }}"
      data-page-url="https://lutaonan.com{{ page.url }}"
      data-page-title="{{ title }}"
    >
    <script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
    <script defer src="https://cusdis.com/js/cusdis.es.js"></script>