<div class="flex justify-between mb-4">
  <div>
    <h1 class="logo text-xl text-red-900">
      <a href="/">Randy's Blog</a>
    </h1>

  </div>
  <div class="flex self-center -mx-2 text-sm text-red-900 font-bold">
    <a class="mx-2" href="/">文章</a>
    <a class="mx-2" href="/readings">我读</a>
    <a class="mx-2" href="/music">音乐</a>
    <a class="mx-2" href="/about">关于我</a>
    <a class="mx-2" href="/comments">公共留言</a>
    <a class="mx-2" href="/rss.xml">RSS</a>

  </div>
</div>