<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72147868-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-72147868-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title>
        {{title}} - Randy's Blog</title>
    {% else %}
      <title>Randy's Blog</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Serif+SC:wght@500;900&display=swap" rel="stylesheet">
    <link href="/assets/index.css" rel="stylesheet">

    {% block head %}{% endblock %}

  </head>

  <body>
    {% block body %}{% endblock %}

    {% block bodyEndScript %}{% endblock %}
  </body>

</html>