<!DOCTYPE html>
<html lang="en">

  <head>

    <script async defer data-website-id="a7250fef-ff01-4734-a866-6f0eb1c6e7a0" src="https://a.taonan.lu/umami.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title>
        {{title}} - Randy's Blog</title>
    {% else %}
      <title>Randy's Blog</title>
    {% endif %}

    {% block head %}{% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Serif+SC:wght@500;900&display=swap" rel="stylesheet">
    <link href="/assets/index.css" rel="stylesheet">

  </head>

  <body>
    {% block body %}{% endblock %}

    {% block bodyEndScript %}{% endblock %}
  </body>

</html>