{% extends "layout.njk" %}
{% import "macros.njk" as macros %}
{% block head %}
  {% seo "" %}

{% endblock %}

{% block body %}

  <div class="p-8 md:p-24">
    <h1 class="logo text-4xl text-red-700 font-bold">Randy's Blog</h1>

    <div  class="w-32 h-32 rounded-full bg-cover bg-center mt-8" style="background-image: url(https://gbstatic.djyde.com/assets/IMG_9051.JPG?x-oss-process=style%2F80)"}}></div>

    <div class="blog-post mt-12">
      {% include "intro.njk" %}
    </div>

    <div class="mt-24 grid lg:grid-cols-2 gap-2">
      <div>
        <h1 class="my-4 text-4xl logo text-red-700">Featuring</h1>
        <div>
          {% for post in collections.blog | reverse %}
            {% if post.data.pin === true %}
              <div class="mb-2">
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                {# <span class="text-gray-500 ml-2">({% formatDate post.date %})</span> #}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div>
        <h1 class="my-4 text-4xl logo text-red-700">Posts</h1>

        {% for post in collections.blog | reverse %}
          {% if post.data.pin !== true %}
            <div class="mb-2">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
              {# <span class="text-gray-500 ml-2">({% formatDate post.date %})</span> #}
            </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>

    <div class="mt-24">
      <h1 class="my-4 text-4xl logo text-red-700">Writings</h1>
      <div class="text-2xl mb-2">
        <a href="https://nextjs-in-action-cn.taonan.lu/">《Next.js 应用开发实践》</a>
      </div>

      <div class="grid grid-cols-3"></div>
    </div>

    <div class="mt-24">
      <h1 class="my-4 text-4xl text-red-700 logo">Reading</h1>
      <div class="md:flex">
        {% for post in collections.book | reverse %}
          <div class="mb-2 flex flex-col justify-end mr-4">
            <img class="w-24 mb-2" src="{{post.data.cover}}"/>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {# <span class="text-gray-500 ml-2">({% formatDate post.date %})</span> #}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-24">
      <h1 class="my-4 text-4xl text-red-700 logo">In Public</h1>
      <ul class="list-disc">
        <li>
          <a class="link" href="https://binary.2bab.me/episodes/008-enlightenment-n-self-innovation">二分电台: #8 编程启蒙/从社区学习/个人竞争力</a>
        </li>
      </ul>
    </div>

    <div class="mt-24">
      <h1 class="my-4 text-4xl logo text-red-700">Music Production</h1>
      <div class="text-2xl mb-2">
        <a href="https://lutaonan.com/go/bilibili">Bilibili</a>
      </div>
      <div class="text-2xl">
        <a href="https://lutaonan.com/go/youtube">YouTube</a>
      </div>

      <div class="grid grid-cols-3"></div>
    </div>

    <div class="mt-24">
      <h1 class="my-4 text-4xl logo text-red-700">Review</h1>
      <div class="lg:flex flex-wrap">
        {% for post in collections.review | reverse %}
          <div class="mb-2 flex flex-1 flex-col justify-end mr-4">
            <div class="rounded w-128 h-64 bg-cover mb-2 bg-center" style="background-image: url({{post.data.cover}});"></div>
            {# <img class="w-full mb-2" src="{{post.data.cover}}"/> #}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {# <span class="text-gray-500 ml-2">({% formatDate post.date %})</span> #}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="my-24">
    {% include "footer.njk" %}
  </div>

{% endblock %}