---
title: 音乐
image: https://gbstatic.djyde.com/assets/B77C7FF9-34E4-4CA7-BEAB-62ED1480AB20.JPG?x-oss-process=style/80
---

{% extends "layout.njk" %}

{% block head %}
{% seo "" %}

{% endblock %}

{% block body %}

  <div class='main-container mx-auto pt-12'>
    {% include "header.njk" %}

    <div class="blog-post mt-8">
      <img src="https://gbstatic.djyde.com/assets/B77C7FF9-34E4-4CA7-BEAB-62ED1480AB20.JPG?x-oss-process=style/80">
      <p>我有一个 <a rel="noopener noreferrer" target="_blank" href="https://www.wikiwand.com/en/Home_recording">Home studio</a>, 会录一些自己编曲的作品。这些作品可以在 <a rel="noopener noreferrer" target="_blank" href="https://space.bilibili.com/20931693">Bilibili</a> 或 <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/UCFQUVJ0_ZGzvuX6GHl_cqsQ">YouTube</a> 观看。</p>
      <p>如果你也在广州，欢迎找我一起玩音乐。</p>
    </div>

  </div>
  <hr class="my-8"/>
  {% include "footer.njk" %}
{% endblock %}